<div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <header class="header clearfix">
              <h1>GrapesJS Bootstrap v4 Blocks Plugin
              </h1>
            </header>
            <main role="main">
              <div class="jumbotron">
                <h1 class="display-4">Hello!
                  <button role="button" class="btn btn-primary" onclick="__click();">Send
                        <script id="__click">function __click(){alert('123');}</script>
                  </button>
                </h1>
                <p class="lead">This is demo content from 
                  <code>index.html</code>. For
                  development, you
                  shouldn't edit this file. Instead, you can copy and rename it to
                  <code>_index.html</code>. The next time the server starts, the new file will
                  be served,
                  and it will be ignored by git.
                </p>
              </div>
            </main>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
            <div>Col
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul role="tablist" class="nav nav-tabs">
              <li class="nav-item">
                <a data-toggle="tab" href="#home" role="tab" class="nav-link active">Home</a>
              </li>
              <li class="nav-item">
                <a data-toggle="tab" href="#profile" role="tab" class="nav-link">Profile</a>
              </li>
              <li class="nav-item">
                <a data-toggle="tab" href="#messages" role="tab" class="nav-link">Messages</a>
              </li>
              <li class="nav-item">
                <a data-toggle="tab" href="#settings" role="tab" class="nav-link">Settings</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="home" role="tabpanel" class="tab-pane active">Home
              </div>
              <div id="profile" role="tabpanel" class="tab-pane">Profile
              </div>
              <div id="messages" role="tabpanel" class="tab-pane">Messages
              </div>
              <div id="settings" role="tabpanel" class="tab-pane">Settings
              </div>
            </div>
          </div>
        </div>
      </div>